*.sw?
.#*
*#
*~
.project
.settings
build
target
*.sublime-*
/scratch
*.iml
*.log
*.gfs
*.idea
logs/**
versions.properties
**/.DS_Store
/.idea/
*.egg-info
/logs/
build/
dist/
*.egg-info/
__pycache__/
venv/
*.py[oc]
wheels/
.venv
.coverage
